<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
    .register, .login{
        width:350px;
        border: 2px solid black;
        display: inline-block;
        vertical-align: top;
        padding: 20px;
    }
    .click_reg{
        margin-left: 220px;
    }
    .click_log{
        margin-left: 237px;
    }
    </style>
</head>
<body>
    <h1>Welcome! sign in to manage your jobs!</h1>
    <div class="register">
        <h3>Register</h3>
        <form action="/register" method="POST">
            {% csrf_token %}
            <div class="form-group row">
                <label class="col-sm-4">First Name</label>
                <div class="col-sm-8">
                <input type="text" name="fname">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4">Last Name</label>
                <div class="col-sm-8">
                <input type="text" name="lname">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4">Email</label>
                <div class="col-sm-8">
                <input type="text" name="email">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4">Password</label>
                <div class="col-sm-8">
                <input type="password" name="pw">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4">Confirm pw</label>
                <div class="col-sm-8">
                <input type="password" name="pwc">
                </div>
            </div>
            <input type="hidden" name="register" value="register">
            <input class="click_reg" type="submit" value="Register">
        </form>
    </div>
    <div class="login">
        <h3>Login</h3>
        <form action="/login" method="POST">
            {% csrf_token %}
            <div class="form-group row">
                <label class="col-sm-4">Email</label>
                <div class="col-sm-8">
                <input type="text" name="login_email">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4">Password</label>
                <div class="col-sm-8">
                <input type="password" name="login_pw">
                </div>
            </div>
            <input type="hidden" name="login" value="login">
            <input class="click_log" type="submit" value="Login">

        </form>
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>