<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/dashboard">Dashboard</a>
    <a href="/">Logout</a>
    <h1>Hello {{user.first_name}}! These are the job details!</h1>
    <h3>{{job.title}}</h3>
    <div style="border: 2px solid black; width:400px;">
        <p>Description: {{job.desc}}</p>
        <p>Location: {{job.location}}</p>
        <p>Posted by: {{job.post_by.first_name}} {{job.post_by.last_name}}</p>
        <p>Posted on: {{job.created_at}}</p>
        <p>Categories:{{job.category}}</p>
    </div>
    {% if job.users.all.exists == False %}
    <a href="/job_add_to_user/{{job.id}}">Add to my jobs</a>
    {% endif %}
    {% if user in job.users.all %}
    <a href="/job_del_from_user/{{job.id}}">Give up</a>
    {% endif %}
</body>
</html>
